terraform/terraform.tfstate
terraform/.terraform
terraform/lambda_function2.zip
terraform/lambda_function1.zip
terraform/.terraform.lock.hcl
.gitignore
terraform/terraform.tfstate.backup
terraform/tfplan